---
layout: default
title: Resources
---
<div class="jumbotron">
  <div class="container">
    <h1> Resources </h1>
    <p>
      Are you in crisis? Please call the Suicide Prevention Lifeline at 1-800-273-TALK (1-800-273-8255)
    </p>
  </div>
</div>
<div class="container">
  <h1>On-Campus</h1>
  <dl class="dl-horizontal">
    {% for resource in site.data.on_campus_resources %}
    <dt>
      <a href="{{resource.link}}">{{resource.name}}</a>
    </dt>
    <dd>
      {{resource.description}}
    </dd>
    {% endfor %}
  </dl>
  <h1>Off-Campus</h1>
  <dl class="dl-horizontal">
    {% for resource in site.data.off_campus_resources %}
    <dt>
    <a href="{{resource.link}}">{{resource.name}}</a>
    </dt>
    <dd>
      {{resource.description}}
    </dd>
    {% endfor %}
  </dl>
</div>
